./*.iml
./.gradle
./gradle
./gradle.properties
./gradlew
./local.properties
./.idea/workspace.xml
./.idea/libraries
.DS_Store
./build
./captures
./app/build
./app/app.iml
./locl.properties

.idea/
build/
app/app.iml
.gradle/
local.properties
MyLibrary.iml
